body {
    background-color: hsl(0,33%,15%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
}

.center {
    padding: 10px;
    text-align: center;
}